<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Nuevo promovido</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Apellido Paterno</label>
                  <input type="text" class="form-control" placeholder="Apellido Paterno">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Apellido Materno</label>
                  <input type="text" class="form-control" placeholder="Apellido Materno">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label for="email">Correo electronico</label>
                  <input name="email" id="email" type="email" class="form-control" placeholder="Correo electronico">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label for="email">Telefono</label>
                  <input name="email" id="email" type="email" class="form-control" placeholder="Telefono">
                </div>
              </div>
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Clave INE/IFE</label>
                  <input type="text" class="form-control" placeholder="INE/IFE" placeholder="INE/IFE">
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Ciudad</label>
                  <input type="text" class="form-control" placeholder="Ciudad">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Pais</label>
                  <input type="text" class="form-control" placeholder="Pais">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Codigo Postal</label>
                  <input type="number" class="form-control" placeholder="Código postal">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                    <button type="button" class="btn btn-primary m-4">Guardar</button>
                    <button type="button" class="btn btn-secondary m-4">Cancelar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
