<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <button [routerLink]="['/refereds/new']"  type="button" class="btn btn-primary m-4">Agregar promovido</button>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Promovidos</h5>
        </div>
        <div class="card-body">
          <kendo-grid [data]="referredData" [height]="410">
            <kendo-grid-column field="Nombre" title="ID" width="40">
            </kendo-grid-column>
            <kendo-grid-column field="Apellido materno" title="Name" width="250">
            </kendo-grid-column>
            <kendo-grid-column field="Apellido paterno" title="Category">
            </kendo-grid-column>
            <kendo-grid-column field="INE" title="Price" width="80">
            </kendo-grid-column>
            <kendo-grid-column title="" [width]="100">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="np__table--row">
                  <button id="edit-plan" type="button" class="btn btn btn-link btn-sm btn-grid-recurrence" data-toggle="modal" data-target="#editPlan" (click)="showReference(dataItem)">
                    <span class="fa fa-pen" aria-hidden="true"></span>
                  </button>
                </div>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-messages
              noRecords="No hay datos disponibles."
              pagerFirstPage="Ir a la primera página"
              pagerPreviousPage="Ir a la página anterior"
              pagerNextPage="Ir a la página siguiente"
              pagerLastPage="Ir a la última página"
              pagerPage="Página"
              pagerOf="de"
              pagerItems="ítems"
              pagerItemsPerPage="ítems por página"
              filter="Filter"
              filterEqOperator="Es igual a"
              filterNotEqOperator="No es igual a"
              filterIsNullOperator="Es nulo"
              filterIsNotNullOperator="No es nulo"
              filterIsEmptyOperator="Está vacío"
              filterIsNotEmptyOperator="No está vacío"
              filterStartsWithOperator="Comienza con"
              filterContainsOperator="Contiene"
              filterNotContainsOperator="No contiene"
              filterEndsWithOperator="Termina en"
              filterGteOperator="Es mayor o igual que"
              filterGtOperator="Es mayor que"
              filterLteOperator="Es menor o igual que"
              filterLtOperator="Es menor o igual que"
              filterIsTrue="Sí"
              filterIsFalse="No"
            >
            </kendo-grid-messages>
        </kendo-grid>
        </div>
      </div>
    </div>
  </div>
</div>
